.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
monitoring/prometheus/
monitoring/alertmanager/
monitoring/blackbox_exporter/
*.tfvars

# raw tar files
*.tar.gz

# logs
*.log
# binaries_commands.txt
# binaries_download.txt